.contentHeader {
    max-width: 100%;
    box-shadow: 0 10px 10px rgba(0,0,39,.45);
    display: block;
}

.title {
    text-align: center;
    font-weight: 500;
    margin: 10px 0 40px;
}

.user {
    display: flex;
    margin-top: 50px;
    box-shadow: 0 1px 3px hsla(0,0%,39%,.15);
    align-items: flex-start;
}

.userAvatar {
    box-shadow: 0 1px 3px hsla(0,0%,39%,.15);
    max-width: 180px;
    margin: 20px;
}

.userInfo {
    margin-left: 30px;
}